black==24.8.0
gTTS==2.5.3
SpeechRecognition==3.10.4
pyaudio==0.2.14
pydub==0.25.1
pyngrok==7.2.0
gevent==24.2.1
twilio==9.3.0
flask==3.0.3
flask_sock==0.7.0
openai-whisper==20231117
psycopg2-binary==2.9.9
python-dotenv==1.0.1
elevenlabs